.advocacy-page {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 90%;
  margin: auto;
  margin-top: 30px 0;
}


/* advocacy section 1 */

.advocacy-page-section1 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-bottom: 30px;
}

.advocacy-page-blue-text {
  color: rgb(43, 104, 246)
}

#txt1 {
  font-size: 24px;
}

#txt2 {
  font-size: 19px;
}

#txt3 {
  font-size: 21px;
}

#txt4 {
  font-size: 22px;
}

.advocacy-page-section1 h1 {
  font-weight: 400;
}

.advocacy-page-section1 p {
  color: rgba(0, 0, 0, 0.615);
}

.advocacy-page-section1 img {
  width: 100%;
}


/* advocacy section 2 */

.advocacy-page-section2 {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 0fr 0fr;
  margin-bottom: 30px;
  gap: 20px;
}

.advocacy-img2 {
  background-image: url('./images/advocacy-images/image2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.advocacy-img3 {
  background-image: url('./images/advocacy-images/image3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.advocacy-img4 {
  background-image: url('./images/advocacy-images/image4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.advocacy-page-section2 p {
  color: rgba(0, 0, 0, 0.615);
}
