*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.first_div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    width: 90%;
    margin: 0 auto;
}
.firstdiv_text{
    margin-top: 120px;
    padding-left: 20px;
}
.firstdiv_text h4{
    color: blue;
    font-size: 20px;
}
.Ptag{
    font-size: 30px;
}
.latin_text{
    font-size: 15px;
}
.second_div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px auto;
    width: 90%;
}
.news h4{
    color: blue;
}
.news p{
    font-size: 20px;
}
.news{
    /* margin: 50px; */
    padding-top: 20px;
}
.Membership{
    width: 95%;
    margin: 0 auto;
}
.Membership button{
    margin-left: 1000px;
    padding: 10px 50px;
    position: relative;
    bottom: 30px;
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
}
.Membership div p{
    font-size: 20px;
}
.Membership div h1{
    font-size: 35px;
}
.Membership_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 95%;
    gap: 10px;
}
.mem_text p{
    margin-top: 10px;
    font-size: 20px;
}
.GRAMMY_AWARD{
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 10px;
}
.GRAMMY_AWARD div button{
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
    padding: 10px 50px;
    margin-top: 130px;
    margin-left: 430px;
}
.GRAMMY_AWARD p{
    font-size: 20px;
}
.grammy_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 95%;
    gap: 10px;
    margin-bottom: 30px;
}
.grammy_grid div p{
    font-size: 20px;
    margin-top: 10px;
}
.advocacy{
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 10px;
}
.advocacy button{
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
    padding: 10px 50px;
    margin-top: 50px;
    margin-left: 370px;
}
.advocacy_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 95%;
    gap: 10px;
    margin-bottom: 30px;
}
.advocacy div h1{
    font-size: 35px;
}
.advocacy p{
    font-size: 20px;
}
.advocacy_grid p{
    font-size: 20px;
    margin-top: 10px;
}